body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-image: url('./images/background.jpg');
  background-position: center;

}

@tailwind base;
@tailwind components;
@tailwind utilities;





.link:hover{
  color: blueviolet;
  background: rgb(155, 255, 6);
}

/* .header{
  width: 100vw;
  background: red;
  color: white;
} */
/* .footer{
  width: 100vw;
  background: red;
  color: white;
} */
